*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

p {
    margin: 2rem;
}

body {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.6;
}

.content-flex {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    flex: 1 1 100%;
}

h1 {
    text-align: center;
}

h2,
h3 {
    text-transform: uppercase;
}

header {
    background-color: rgb(243, 15, 194);
    color: white;
    fill: none;
    box-shadow: 0 0 1em white;
}

.flex {
    background-color: rgba(0, 0, 0, 0.889);
    color: white;
    padding: 1rem;
}

@media (min-width:50rem) {
    .content-flex {
        flex-direction: row;
    }
}

button {
    background-color: black;
    font-size: 1rem;
    padding: 1rem;
    position: fixed;
    inset: auto 1rem 1rem auto;
}

a {
    text-decoration: none;
    color: white;
}